.m_wrap {
    height: 80px;
    overflow: hidden;
    width: 188px;
}

.dx {
    white-space: nowrap;

    overflow: hidden;
    border: 1px solid gray;
}

.xc {
    display: inline-block;
    width: 100px;
    height: 280px;
    border: 1px solid;
    line-height: 80px;
    text-align: center;
    margin-bottom: 4px;
}
